/* Style for the login container */
.login-container {
  width: 100%; /* Span the whole webpage horizontally */
  min-height: 100vh; /* Span the whole webpage vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Change background color */
}

/* Style for the login form */
/*.login-form {*/
/*  max-width: 400px;*/
/*  width: 100%;*/
/*  padding: 20px;*/
/*  border-radius: 10px;*/
/*  background-color: #ffffff;*/
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*}*/

/* Style for login form elements */
.login-form input {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style for login button */
.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
}

/* Style for error message */
.error-message {
  color: red;
  margin-top: 10px;
}

/* Style for the "Sign up" link */
.signup-link {
  margin-top: 20px;
  text-align: center;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
