

/* Style for the registration container */
.registration-container {
  /*max-width: 400px;*/
  /*margin: 0 auto;*/
  /*padding: 20px;*/
  /*border-radius: 10px;*/
  /*background-color: #ffffff;*/
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/

  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Style for registration form elements */
.registration-form input {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style for registration button */
.registration-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registration-form button:hover {
  background-color: #0056b3;
}

/* Style for error message */
.error-message {
  color: red;
  margin-top: 10px;
}

/* Style for the "Sign in" link */
.signin-link {
  margin-top: 20px;
  text-align: center;
}

.signin-link a {
  color: #007bff;
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
}
